/* Add some space after code blocks */
.highlight {
    margin-bottom: 1em;
}

/* Don't let these be bigger than their container */
img, iframe {
    max-width: 100%
}

/* The white background used by Superhero stood out too much;
   this color is similar to the superhero background but darker */
code {
    background-color: #192d43;
}

/* Custom CSS class for figures or whatever */
.center {
    text-align: center;
}

/* The superhero theme does have special styling for code elements that are
   also links, so we add it here. Dotted underline normally, solid underline
   when hovered over. The color is taken from the superhero theme. */
a code {
    text-decoration: underline dotted #df691a;
}

a code:hover {
    /*font-weight: bold;*/
    text-decoration: underline solid #df691a;
}
