---
import { SupportedLang } from "../../languages";
import LanguageSelect from "./LanguageSelect";

export interface Props {
    lang: SupportedLang;
    multilingual: boolean;
}

const { lang, multilingual } = Astro.props as Props;
---

<header class="wrapper">
    <nav>
        {
            multilingual && (
                <span id="lang-selector">
                    <LanguageSelect lang={lang} client:idle />
                </span>
            )
        }
        <a href="/">
            <span>Home</span>
        </a>
        <a href={`/${lang}/#portfolio`}>
            <span>Portfolio</span>
        </a>
        <a href="/resume/resume-en.html">
            <span>Resume</span>
        </a>
        <a href="/blog">
            <span>Blog</span>
        </a>
        <a href="https://www.linkedin.com/in/nathanglenn">
            <span>LinkedIn</span>
        </a>
        <a href="https://github.com/garfieldnate/">
            <span>GitHub</span>
        </a>
    </nav>
</header>

<style>
    header {
        padding-top: 1rem;
        padding-bottom: 1rem;
        height: 5rem;
    }
    nav {
        display: flex;
        justify-content: right;
        flex-flow: wrap;
    }
    a,
    #lang-selector {
        display: inline-flex;
        margin-left: 1em;
    }
    /* stick selector to the left, everything else to the right */
    #lang-selector {
        margin-right: auto;
    }
</style>
