---

---

<footer><a href="/blog/rss.xml"><img src="/rss/rss-icon.svg" height="15px" width="15px" alt="RSS logo"/> RSS</a>・<a href="/license">License</a></footer>

<style>
    footer {
        text-align: center;
        margin: 2rem;
    }
</style>
