---

---

<footer><a href="/blog/rss.xml"><img src="/rss/rss-icon.svg" /> RSS</a>・<a href="/license">License</a></footer>

<style>
    footer {
        text-align: center;
        margin: 2rem;
    }

    img {
        height: 15px;
    }
</style>
