---
// Note: not actually responsive yet
import { Picture } from "astro-imagetools/components";

export interface Props {
    alt: string;
    src: string;
    class_?: string;
    title?: string;
}

const { alt, src, class_ = "center", title } = Astro.props as Props;
---

<figure class={class_}>
    <Picture src={src} alt={alt}
        placeholder="dominantColor"
    />
    {!!title && (
     <figcaption>
            <h4>{title}</h4>
    </figcaption>
    )}
</figure>

