---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

import config from "../config.json";

let { title, description } = config;
---

<html>

<head>
    <BaseHead title={title} description={description} />
</head>

    <body>
        <Header />
        <div class="wrapper">
            <main class="content">
                <section class="intro">
                    <h1>{title}</h1>
                    <p>{description}</p>
                </section>
                <section>
                    <slot/>
                </section>
            </main>
        </div>
    </body>

</html>

<style>
    .content {
        margin-bottom: 8rem;
    }

    .content :global(h2) {
        margin-top: 4rem;
    }

    .intro {
        padding-bottom: 4rem;
        margin-bottom: 2rem;
        border-bottom: 4px solid var(--theme-divider);
    }

    .content {
        margin-top: 4rem;
        margin-bottom: 8rem;
    }

    .intro {
        padding-bottom: 4rem;
        margin-bottom: 2rem;
        border-bottom: 4px solid var(--theme-divider);
    }

    h1 {
        font-size: 2.5rem;
        font-weight: 700;
    }
</style>
